In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_pre_processed_data.csv')

In [3]:
df.head()

,is_banked,code_module_x,code_presentation_x,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,final_result,code_module_y,code_presentation_y
0,0,AAA,2013J,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,0,Withdrawn,AAA,2013J
1,0,AAA,2014J,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,1,Fail,AAA,2013J
2,0,AAA,2013J,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,0,Withdrawn,AAA,2013J
3,0,AAA,2014J,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,1,Fail,AAA,2013J
4,1,AAA,2013J,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,0,Withdrawn,AAA,2013J

In [10]:
df['gender'].value_counts()

M    30339
F    16071
Name: gender, dtype: int64